<html>
<head>
  <meta charset="utf-8">
  <title>ACME CRM</title>
</head>
<body>
  <p>Dope Feature: <%= customer.feature_enabled('dope_feature') %></p>
  <p>Social Integration: <%= customer.feature_enabled('social_integration') %></p>
  Full State: <pre><%= customer.data %></pre>
</body>
</html>
